# Database Configuration
ENV="LOCAL"
DB_HOST="localhost"
DB_NAME="your_database_name"
DB_USERNAME="your_db_username"
DB_PORT=5432
DB_PASSWORD="your_db_password"
  DATABASE_URL=postgresql+psycopg2://neondb_owner:npg_SPoQi2u9lcLJ@ep-snowy-dust-a44okve2-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
